@import "css/materialize.min.css";

html,
body,
#root,
.App,
.home,
.row,
.modal {
  height: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  background-color: whitesmoke;
}

.nav-wrapper {
  background-color: #443955;
}

.channel-button {
  background-color: #c0beec;
}

.icard {
  background-color: #e8d0f7;
}
.disable {
  background-color: #5a85a3;
  opacity: 0.8;
}

.brand-logo {
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

.auth {
  float: right;
  /* min-width: 100%; */
  margin-top: 5%;
  width: 40%;
}

.row .main {
  margin: 0%;
  padding: 0%;
}

.pic {
  background-image: url("/img/placement.jpg");
  width: 100%;
  height:915px;
  background-size: cover;
  background-repeat: no-repeat;
}

.invites {
  border: none;
  padding: 1% 2%;
  margin: 1% 1%;
  font-weight: bold;
  background-color: turquoise;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn,
.btn-large,
.btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #21335b;
  text-align: center;
  letter-spacing: 0.5px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
.left {
  float: left;
  margin-left: 5%;
}

.right {
  float: right;
  margin-right: 5%;
}

.list-header {
  font-size: 20px;
  padding: 0% 2%;
  margin: 0% 0%;
  border-bottom: 1px solid #21335b;
}
.btn-small {
  margin: 0px;
  padding: 0px;
}
.company-button {
  padding: 0%;
}

.channel-button {
  margin: 2% 0%;
  width: 95%;
  border-style: none;
  padding: 5%;
  text-align: left;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  font-weight: bold;
  font-size: 12px;
}
.lookout-name {
  font-weight: bold;
  font-size: 15px;
}

.channel-list {
  width: 100%;
  margin-top: 5%;
  max-height: 690px;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.channel-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.channel-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.studs {
  margin-top: 2%;
  margin-bottom: 0%;
}

.lookout-list {
  width: 100%;
  margin-top: 5%;
  max-height: 840px;
  overflow-y: scroll;
}

.idetails {
  max-height: 710px;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.idetails::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.idetails {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.lookout-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.lookout-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.lookoutheader {
  margin-bottom: 0px;
  font-size: 20px;
  border-bottom: 1px solid #21335b;
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  max-height: 100%;
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 900px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.company-name {
  font-size: 30px;
  color: #55bdca;
  font-style: italic;
  padding: 0% 2%;
}

.modal-button {
  margin: 2% 5%;
}

.modal-alert {
  font-size: 20px;
  font-weight: bold;
}

.col {
  margin-top: 15px;
  margin-bottom: 10px;
}

.mentor-button {
  position: relative;
  bottom: 10px;
}

.icard {
  display: inline-block;
  width: 100%;
  padding: 5% 5%;
  border-radius: 35px;
  box-shadow: 2px 2px 4px gray;
  color: black;
  text-align: center;
}

.iheader {
  padding: 2% 5%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.card_content {
  padding: 2% 5%;
  font-size: 15px;
  background-color: lightskyblue;
}

label {
  color: black;
  font-size: 16px;
  float: left;
}

.closer {
  float: right;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.3;
  padding: 3px 6px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

.main {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 760px) {
  .main {
    height: 10px;
  }
  .auth {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}

form {
  background-color: white;
  padding: 2% 10%;
  margin: 5% 0%;
  color: black;
  border-radius: 15px;
  height: auto;
  padding-bottom: 8%;
  box-shadow: 2px 2px 5px gray;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #443955; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.5s linear infinite;
  margin-top: 15%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.select {
  height: 2rem; 
  /* for Firefox */ 
  -moz-appearance: none; 
  /* for Safari, Chrome, Opera */ 
  -webkit-appearance: none; 
} 